.product-flex{
    display: flex;
    flex-direction: row;
    background-color: #332f2a;
    gap: 50px;
    height: 100vh;
}

.products-card{
    margin: 25px 30px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    width: 20%;
    height: 40vh;
    background-color: #c6bee3;
    text-align: center;


}

.products-card img {
    height: 100%;
    object-fit: contain;
  }

  .products-card button{
     padding: 10px;
     background-color: #8bdc7d;
     color: black;
     font-weight: bold;
     font-size: 18px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
  } 

  .products-card button:hover{
    background-color: black;
    color: #8bdc7d;
    transition: 0.5s;
  }